html,
body {
  height: 100vh;
}

.container {
  height: 100vh;
}

.header {
  transition: transform 500ms;
}

.header:hover {
  transform: scale(1.2, 1.2);
  transition: transform 500ms;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
